git+https://github.com/Rapptz/discord.py
pip
youtube_dl==2021.4.1
discord.py[voice]==1.6.0
ffmpeg
colorlog
PyNaCl==1.4.0
dnspython==2.0.0
async-timeout==3.0.1
requests~=2.25.0
aiohttp<3.7.0,>=3.6.0
async-timeout==3.0.1
attrs==20.3.0
brotlipy==0.7.0
certifi==2020.11.8
click==7.1.2
ecdsa==0.16.1
Flask==1.1.2
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
pyOpenSSL==19.1.0
python-decouple==3.3
typing-extensions==3.7.4.3
urllib3
Werkzeug==1.0.1
wincertstore==0.2
lxml
beautifulsoup4
cffi --only-binary all
chardet
opuslib
websockets
